.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #000833;
    color: #fff;
    border-bottom: 3px solid #ffd900;
}

.navFooter {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    width: 40%;
    padding: 40px;
}

li:hover {
    color: #ffc800;
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    .navFooter {
        width: 100%;
    }
}