:root {
    --bluePalletDarkColor: #000833;
    --bluePalletLightColor: #DCF2F1;
    --whitePalletContrastColor: #e7e7e7;
    --shadowColor: #000;
    --fontColorForDarkPallet: #fff;
    --fontColorForLightPallet: #000;
    --titleColorForDarkPallet: #CFB776;
    --hoverColorForDarkPallet: #e2a600;
}

.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--bluePalletDarkColor);
    box-shadow: 0px 3px 10px var(--shadowColor);
    color: var(--fontColorForDarkPallet);
    width: 100%;
    border-top: 3px solid var(--hoverColorForDarkPallet);
    opacity: .9;
    position: fixed;
}

.btnNavBar {
    border: 1px solid var(--bluePalletDarkColor);
    background-color: #000833;
    color: #fff;
    padding: 5px;
    margin: 30px;
    width: 7em;
    transition: .2s ease-in-out;
}

.btnNavBar:hover {
    color: var(--hoverColorForDarkPallet);
    border-radius: 5px;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    cursor: pointer;
}

.navMobile {
    position: absolute;
    visibility: hidden;
    z-index: -10;
}

@media screen and (max-width:750px) {
    .headerContainer {
        position: relative;
        flex-wrap: wrap;
        position: fixed;
        z-index: 10;
        padding: 5px;
       
    }

    .btnNavBar {
        display: none;
    }

    .navMobile {
        position: relative;
        visibility: visible;
        z-index: 10;
    }
    .btnNavMobile {
        border: 1px solid var(--bluePalletDarkColor);
        background-color: #000833 !important;
        color: #fff;
        padding: 5px;
        margin: 30px;
        width: 7em;
        transition: .2s ease-in-out;
    }
    
    .btnNavMobile:hover {
        color: var(--hoverColorForDarkPallet);
        border-radius: 5px;
        border-left: 1px solid #fff;
        border-right: 1px solid #fff;
        cursor: pointer;
    }

    .offcanvasBody {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: var(--bluePalletDarkColor) !important;
    }
}

.btnNavBarMobileIcon {
    rotate: 90deg;
}