.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #000833;
    color: #fff;
    margin: 10px;
    border-radius: 50px 20px 10px;
    box-shadow: 5px 5px 5px #000;

}

@media screen and (max-width:900px) {
    .container {
        margin-top: 30px;
        margin-bottom: -80px;
    }
}